.dashboard {
  font-family: Arial, sans-serif;
  background: #fffafa;
  min-height: 100vh;
}

.dashboard h2{
  padding: 50px;
}


/* Contenido */
.dashboard-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.chart-container {
  position: relative;
  width: 300px;
  margin: auto;
}

.chart-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
}

/* En styles/Dashboard.css */
.dashboard-content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.chart-container {
    position: relative;
    width: 350px; /* Ajusta el tamaño de la dona */
    height: 350px;
    margin: 40px auto 20px;
}

.chart-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: none;
}

.chart-center span {
    font-size: 32px;
    font-weight: bold;
    color: #1e293b;
}

/* Títulos y texto */
.dashboard-content h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #5a2ca0;
}
.dashboard-content h3 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}